body {
    background-color: #00c853;
    padding-top: 50px;
}

.butCls {
    text-align: center;
}

.iconHolder,
.textHolder {
    text-align: center;
}

.textHolder {
    font-size: 20px;
    font-weight: bold;
}

.feedback {
    display: none;
}